body {
	background-color: #fff!important;
}

.block {
	position: relative;
	padding: 20px 50px 10px 40px;
	border-bottom: 2px solid #DCD2D2;
	line-height: 35px;
}

.user-name {
	font-size: 25px;
}

.user-sex {
	padding-left: 20px;
}

.user-phone {
	padding-left: 40px;
}

.user-info-edit {
	position: absolute;
	top: 20px;
	right: 30px;
	width: 80px;
	color: #259B2A;
	text-align: center;
	line-height: 0;
	font-size: 13px;
}

.user-info-edit i {
	display: block;
	font-size: 45px;
}

#select-time {
	display: inline-block;
	z-index: -100;
	border: none;
	width: auto;
}

.btns {
	text-align: center;
	border: none;
}

.event-btn {
	margin: 0 40px;
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 40px;
	color: #fff;
	text-align: center;
	line-height: 0;
	font-size: 10px;
	background-color: #259B2A;
}

.event-btn i {
	display: block;
	font-size: 45px;
}

#back-drop {
	display: none;
	position: fixed;
	z-index: 9999999;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4)
}

.package-item {
	margin-right: 20px;
}

.more-info {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -15px;
	height: 30px;
	line-height: 30px;
	color: #259B2A;
}

.remind-user-evaluate {
	position: absolute;
	top: 40%;
	left: 50%;
	width: 40%;
	margin-left: -20%;
}

.rendering {
	padding: 0;
	border: none;
}

.img-contain {
	display: block;
	padding: 0;
	height: 150px;
	width: 100%;
	overflow: scroll;
	overflow-y: hidden;
}

.iteminner {
	display: block;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.lineimg {
	display: block;
	width: 2000px;
}

.item {
	float: left;
	display: inline;
	margin-right: 10px;
}

.item img {
	height: 100px;
	width: 180px;
}

.locked {
	text-align: center;
	padding: 80px 0;
	font-size: 43px;
	font-weight: bold;
}

#add-picture {
	display: block;
	float: left;
	width: 95px;
	height: 95px;
	border: 7px solid #259B2A;
	border-radius: 10px;
	line-height: 57px;
	text-align: center;
	font-size: 95px;
	font-weight: bold;
	color: #259B2A;
}

#pictures img {
	height: 95px;
	width: auto;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

#imgcount {
	color: #259B2A;
}
.submit-button{
	clear:both;
	display: block;
	width:50%;
	margin: 0 auto;
}
