<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/common.css" />
		<style>
			.mui-bar {
				height: 80px;
				padding-top: 20px
			}
			
			.mui-icon-bars {
				padding-top: 17px!important;
			}
			
			.mui-icon .mui-badge {
				top: 5px;
				left: 70px;
			}
			/*覆写图标样式*/
			
			.flow-icon {
				padding: 10px 30px!important;
				font-size: 36px!important;
			}
			
			#flow {
				position: absolute;
				display: inline-block;
				right: 40px;
				left: 40px;
				overflow: hidden;
				width: auto;
				text-align: center;
			}
			
			.flow-name {
				font-size: 12px;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				text-align: center;
			}
			
			.cutoff-line {
				position: fixed;
				top: 60px;
				left: 38.4%;
				height: 100%;
				width: 0.2%;
				background-color: #DCD2D2
			}
		</style>
	</head>
	<header class="mui-bar mui-bar-nav">
		<span class="mui-icon mui-icon-bars mui-pull-left"></span>
		<span id="flow"><span class="mui-icon mui-icon-{{flow.icon}} flow-icon flow" v-for="flow in flow" id="flow-{{flow.id}}"><span class="mui-badge mui-badge-danger" v-if="flow.num > 0">{{flow.num}}</span><span class="flow-name">{{flow.name}}</span></span>
		<span class="mui-icon mui-icon-weixin flow-icon"><span class="flow-name">微信</span></span>
		</span>
		<span class="mui-pull-right" style="height: 50px;background-color: #eee;z-index: 99999999999999999;" ontouchstart="fInstallTestData();">安装测试数据</span>
	</header>
	<div class="cutoff-line"></div>

	<body>
		<script type="text/javascript" src="js/initdata.js"></script>

		<!--加载测试数据-->
		<script src="js/data.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/mui.js"></script>
		<script src="js/common.js"></script>
		<script src="js/sync.js"></script>
		<script type="text/javascript">
			"use strick"

			var menu = null,
				main = null;
			var bShowMenu = false;
			var nActiveMenu = 1;
			myStorage.setItem("thisflow", 1);
			mui.init({
				gestureConfig: {
					doubletap: false,
					longtap: false
				},
				subpages: [{ //引入子webview
					id: 'list',
					url: 'index_sub/list.html',
					styles: {
						top: 60 + gTopbarHeight + 'px',
						bottom: 0,
						left: 0,
						width: '38.2%',
						bounce: 'vertical',
						bounceBackground: '#ffffff', //设置webview背景
						scrollIndicator: 'none',
					}
				}, {
					id: 'index_content',
					url: 'index_sub/index_content.html',
					styles: {
						top: 60 + gTopbarHeight + 'px',
						bottom: 0,
						left: "38.4%",
						width: '61.6%',
						bounce: 'vertical',
						bounceBackground: '#ffffff',
					}
				}],
				preloadPages: [{
					url: "index_sub/index_content3.html",
					id: "plg_input",
					styles: {
						top: 60 + gTopbarHeight + 'px',
						bottom: 0,
						left: "38.4%",
						width: '61.6%',
						bounce: 'vertical',
						bounceBackground: '#ffffff',
					},
					extras: {
						data: JSON.stringify(this.event)
					},
					show: {
						autoShow: false,
						aniShow: "fade-in"
					},
					waiting: {
						autoShow: false,
					}
				}, {
					url: "index_sub/index_content4.html",
					id: "plg_work",
					styles: {
						top: 60 + gTopbarHeight + 'px',
						bottom: 0,
						left: "38.4%",
						width: '61.6%',
						bounce: 'vertical',
						bounceBackground: '#ffffff',
					},
					extras: {
						data: JSON.stringify(this.event)
					},
					show: {
						autoShow: false,
						aniShow: "fade-in"
					},
					waiting: {
						autoShow: false,
					},

				}],
				swipeBack: false
			});
			mui.plusReady(function() {
				if(!localStorage.getItem("user")) {
					mui.openWindow({
						url: "user/login.html",
						id: "login",
						styles: {
							top: 0,
							bottom: 0,
							right: 0,
							width: "100%",
							height: "100%"
						},
						show: {
							aniShow: "fade-in"
						},
						waiting: {
							autoShow: false,
						}
					});
				}
				//仅支持竖屏显示
				plus.screen.lockOrientation("landscape");
				main = plus.webview.currentWebview();
				main.addEventListener('maskClick', fCloseMenu);
				window.addEventListener("closemenu", fCloseMenu);
				window.addEventListener("menu:close", fCloseMenu);
				window.addEventListener("menu:open", fOpenMenu);
				//处理侧滑导航，为了避免和子页面初始化等竞争资源，延迟加载侧滑页面；
				setTimeout(function() {
					menu = mui.preload({
						id: 'menu',
						url: 'index_sub/menu.html',
						styles: {
							left: '-38.4%',
							width: '38.4%',
							zindex: 999,
						},
						show: {
							aniShow: 'none'
						}
					});
				}, 200);

			});
			/**
			 * 绑定工作流与数据
			 */
			fCaculateNumOfFlow();
			new Vue({
				el: '#flow',
				data: gFlow,
				ready: function() {
					fAddClass(document.getElementById("flow-" + nActiveMenu), "mui-active");
					mui('#flow').on('tap', '.flow', function() {
						if(!fHasClass(this, "mui-active")) { //重复点击不进行切换
							fRemoveClass(document.getElementById("flow-" + nActiveMenu), "mui-active");
							fAddClass(this, "mui-active");
							nActiveMenu = this.id.split("-")[1];
							//							fCloseSubPage();
							mui.fire(plus.webview.getWebviewById("list"), "refreshvue", nActiveMenu); //点击图标时传值到list并刷新视图
							mui.fire(plus.webview.getWebviewById("index_content"), "refreshvue", nActiveMenu + ",0"); //传值到index_content
							myStorage.setItem("thisflow", nActiveMenu);
						}

					});
				}
			});
			var bIsInTransition = false;
			/**
			 * 显示侧滑菜单
			 */
			function fOpenMenu() {
				if(bIsInTransition) {
					return;
				}
				if(!bShowMenu) {
					//侧滑菜单处于隐藏状态，则立即显示出来；
					bIsInTransition = true;
					menu.setStyle({
						mask: 'rgba(0,0,0,0)'
					}); //menu设置透明遮罩防止点击
					menu.show('none', 0, function() {
						//主窗体开始侧滑并显示遮罩
						main.setStyle({
							mask: 'rgba(0,0,0,0.4)',
						});
						fSetSubPageMask("rgba(0,0,0,0.4)");
						menu.setStyle({
							left: '0%',
							transition: {
								duration: 150
							}
						})
						mui.later(function() {
							bIsInTransition = false;
							menu.setStyle({
								mask: "none"
							}); //移除menu的mask
						}, 160);
						bShowMenu = true;
					});
				}
			};
			/**
			 * 关闭菜单
			 */
			function fCloseMenu() {
				if(bIsInTransition) {
					return;
				}
				if(bShowMenu) {
					//关闭遮罩；
					//主窗体开始侧滑；
					bIsInTransition = true;
					main.setStyle({
						mask: 'none'
					})
					fSetSubPageMask("none");
					menu.setStyle({
						left: '-38.4%',
						transition: {
							duration: 200
						}
					});
					bShowMenu = false;
					//等动画结束后，隐藏菜单webview，节省资源；
					mui.later(function() {
						bIsInTransition = false;
						menu.hide();
					}, 300);
				}
			}
			//点击左上角侧滑图标，打开侧滑菜单；
			document.querySelector('.mui-icon-bars').addEventListener('tap', function(e) {
				if(bShowMenu) {
					fCloseMenu();
				} else {
					fOpenMenu();
				}
			});
			//敲击顶部导航，内容区回到顶部
			document.querySelector('header').addEventListener('doubletap', function() {
				main.children()[0].evalJS('mui.scrollTo(0, 100)');
			});

			mui.menu = function() {
				if(bShowMenu) {
					fCloseMenu();
				} else {
					fOpenMenu();
				}
			}
			mui('header').on('tap', '.mui-icon-weixin', function() {
				location.href = "weixin://"; //调用微信
				//[[UIApplication sharedApplication] canOpenURL:[NSURL URLWithString:@"weixin://"]];
				var NSURL = plus.ios.import('NSURL');
				var UIA = plus.ios.import('UIApplication');
				var obj = new UIA.sharedApplication();
				if(obj.canOpenURL(NSURL.URLWithString('weixin://')))(mui.alert("您尚未安装微信", gAppName), plus.ios.deleteObject(obj));
			});
		</script>
	</body>

</html>