<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/index_content.css" />
	</head>
	<style>
		#add-picture {
			display: block;
			float: left;
			width: 100px;
			height: 100px;
			border: 7px solid #259B2A;
			border-radius: 10px;
			line-height: 57px;
			text-align: center;
			font-size: 100px;
			font-weight: bold;
			color: #259B2A;
		}
		
		#pictures img {
			height: 95px;
			width: auto;
			float: left;
			margin-right: 15px;
			margin-bottom: 10px;
		}
		
		#imgcount {
			color: #259B2A;
		}
	</style>

	<body>
		<div id="back-drop"></div>
		<article id="event">
			<!--确认物业-->
			<template v-if="event.status==7">
				<div class="user-info block">
					<span class="user-name">{{event.name}}</span><span class="user-sex">{{event.sex?"女士":"先生"}}</span><span class="user-phone">{{event.phone}}</span><span class="user-info-edit"><i class="mui-icon mui-icon-compose" v-on:tap="__fEditUser(event.id)"></i>编辑</span><br /><span class="user-address">{{event.province}}{{event.city}}{{event.district}}{{event.address}}</span><br /><span>合同号：{{event.contractid}}</span>
				</div>
				<div class="block">
					<span>物业交割信息</span>
				</div>
				<div class="mui-content-padded" style="margin: 5px 10px;">
					<div class="mui-input-row" style="margin: 10px 0;">
						<textarea id="textarea" rows="5" placeholder="请输入描述内容" v-model="event.content.property_text">{{event.content.property_text}}</textarea>
						<h5>您还可以添加<span id="imgcount">{{10 - event.content.property_img.length }}</span>张图片</h5>
					</div>
					<div id="pictures">
						<div class="picture" v-for="images in event.content.property_img"><img v-bind:src="images" data-preview-src='' data-preview-group='1' /></div>
					</div>
					<div id="add-picture" v-show="event.content.property_img.length < 10"  v-on:tap="__fAddPic()">+</div>
				</div>
				<button class="mui-btn mui-btn-block mui-btn-green submit-button">提交</button>
			</template>

			<!--待开工-->
			<template v-if="event.status==9">
				<div class="user-info block">
					<span class="user-name">{{event.name}}</span><span class="user-sex">{{event.sex?"女士":"先生"}}</span><span class="user-phone">{{event.phone}}</span><span class="user-info-edit"><i class="mui-icon mui-icon-compose" v-on:tap="__fEditUser(event.id)"></i>编辑</span><br /><span class="user-address">{{event.province}}{{event.city}}{{event.district}}{{event.address}}</span><br /><span>合同号：{{event.contractid}}</span>
				</div>
				<div class="block">
					<span class="check-time">预计开工时间：<span><input type="date" id="select-time"  v-bind:value="event.content.expected_start_date" onchange="fSelecetTimeChange(this)" onblur="fSaveTime(this)"></span></span><span class="user-info-edit edit-time"><i class="mui-icon mui-icon-compose"></i>修改日期</span>
				</div>
				<div class="mui-content-padded" style="margin: 5px 10px;">
					<div class="mui-input-row" style="margin: 10px 0;">
						<textarea id="textarea" rows="5" placeholder="请输入描述内容" v-model="event.content.property_text">{{event.content.pending_construction_text}}</textarea>
						<h5>您还可以添加<span id="imgcount">{{10 - event.content.pending_construction_img.length }}</span>张图片</h5>
					</div>
					<div id="pictures">
						<div class="picture" v-for="images in event.content.pending_construction_img"><img v-bind:src="images" data-preview-src='' data-preview-group='1' /></div>
					</div>
					<div id="add-picture" v-show="event.content.pending_construction_img.length < 10" v-on:tap="__fAddPic()">+</div>
				</div>
				<button class="mui-btn mui-btn-block mui-btn-green submit-button">确认开工</button>
			</template>

			<div id="picture" class="mui-popover mui-popover-action mui-popover-bottom">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="#" data="1">拍照</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#" data="2">从相册中选择</a>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="#picture" data="0"><b>取消</b></a>
					</li>
				</ul>
			</div>
		</article>
		<script type="text/javascript" src="../js/data.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script type="text/javascript" src="../js/vue.js"></script>
		<script src="../js/mui.js"></script>
		<script type="text/javascript">
			"use strick"
			mui.init();
			var MAXIMAGECOUNT = 10;
			mui.plusReady(function() {
				window.addEventListener('refresh', function(event) {
					var aShow = event.detail.split(",");
					vueContent.refresh(aShow[0], aShow[1]);
				});
				window.addEventListener('delete', function(event) {
					var deleteitem = vueContent.event.content.property_img[event.detail - 1];
					vueContent.event.content.property_img.$remove(deleteitem);
				});
				var thiswebview = plus.webview.currentWebview();
				vueContent = new Vue({
					el: "#event",
					data: {
						"event": fListAllFlowEvent(localStorage.thisflow)[localStorage.thiseventsort]
					},
					compiled: function() {},
					methods: {
						refresh: function(a, b) {
							var tempobj = JSON.parse(localStorage.data);
							tempobj.event[fFindObjSortById(this.event.id, tempobj.event)] = this.event;
							localStorage.data = JSON.stringify(tempobj); //在本地存储修改
							this.event = fListAllFlowEvent(a)[b];
							localStorage.thisstatus = this.event.status;
						},
						//编辑用户信息
						__fEditUser: function(eventid) {
							thispage = plus.webview.currentWebview();
							document.getElementById("back-drop").style.display = "block";
							mui.openWindow({
								url: "../index_sub/edituser.html",
								id: "sub_edituser",
								styles: {
									top: "13%",
									bottom: 0,
									right: "6.8%",
									width: "48%",
									height: "244px"
								},
								extras: {
									eventid: eventid
								},
								show: {
									aniShow: "fade-in"
								},
								waiting: {
									autoShow: false,
								}
							});
						},
						__fAddPic: function() {
							document.activeElement.blur();
							mui("#picture").popover('toggle');
						}
					}
				});
			});
			document.getElementById("back-drop").addEventListener("tap", function() {
				document.getElementById("back-drop").style.display = "none";
				plus.webview.close("sub_edituser");
			})
			mui('#picture').on('tap', '.mui-popover-action li>a', function() {
				switch(this.getAttribute("data")) {
					case "1": //拍照
						mui("#picture").popover('toggle');
						getImage();
						break;
					case "2": //从相册选择
						mui("#picture").popover('toggle');
						galleryImg();
						break;
					default:
						break;
				}
			});
			mui("#pictures").on("tap", "img", function() {
				var arrObjects = this.parentNode.parentNode.innerHTML;
				indexId = index(this, this.parentNode.parentNode.getElementsByTagName("img"));
				mui.openWindow({
					url: "../module/preview_image.html",
					id: "preview_image",
					styles: {
						top: 0,
						bottom: 0,
						right: 0,
						width: "100%",
						height: "100%"
					},
					extras: {
						images: arrObjects,
						indexid: indexId,
						deletemode: "true"
					},
					show: {
						aniShow: "fade-in"
					},
					waiting: {
						autoShow: false,
					}
				});
			})

			function getImage() {
				var cmr = plus.camera.getCamera();
				cmr.captureImage(function(p) {
					console.log("成功：" + p);
					plus.io.resolveLocalFileSystemURL(p, function(entry) {
						console.log(entry.fullPath); //真实路径
						plus.gallery.save(p, function() {
							console.log("保存图片到相册成功");
						});
						var localurl = entry.toLocalURL();
						var pictureContaint = document.getElementById("pictures");
						vueContent.event.content.property_img.push(localurl);
					}, function(e) {
						console.log("读取拍照文件错误：" + e.message);
					});
				}, function(e) {
					console.log("失败：" + e.message);
				}, {
					filename: "_doc/camera/"
				});
			}

			function galleryImg() {
				// 从相册中选择图片
				plus.gallery.pick(function(path) {
					for(var i in path.files) {
						vueContent.event.content.property_img.push(path.files[i]);
					}

				}, function(e) {
					console.log("取消选择图片");
				}, {
					filter: "image",
					multiple: true,
					maximum: MAXIMAGECOUNT - vueContent.event.content.property_img.length
				});
			}
		</script>
	</body>

</html>