<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/index_content.css" />
	</head>
	<style>

	</style>

	<body>
		<div id="history-detail"><span class="mui-icon mui-icon-arrowright"></span></div>
		<div id="back-drop"></div>
		<article id="event">
			<!--安装施工中-->
			<template v-if="event.status==8">
				<div class="user-info block">
					<span class="user-address">{{event.province}}{{event.city}}{{event.district}}{{event.address}}</span>
					<span class="more-info" v-on:tap="__fDetail(event.id,'userdetail')">详情 ></span>
				</div>
				<div id="slider-contain" class="mui-slider">
					<div class="mui-slider-group">

						<!--分为左右两部分-->
						<div class="mui-slider-item">
							<div v-if="event.content.timeline[__fGetSortIdByDate(__fGetDate(),event)]">
								<!--如果没有今日信息则隐藏今日模块-->
								<div class="block">
									<span>今日详情</span>
									<div v-for="processitem in event.content.timeline[__fGetSortIdByDate(__fGetDate(),event)].process">{{ processitem.process_name }}&nbsp;&nbsp;{{processitem.process_text}}
										<div v-for="worker in processitem.workers">&nbsp;&nbsp;工人：{{worker.name}}&nbsp;&nbsp;
											<a href="tel:{{worker.tel}}">{{worker.tel}}</a>
										</div>
									</div>
									<span class="more-info" v-on:tap="__fDetail(event.id,'todaydetail',processitem)">今日详情 ></span>
								</div>
								<div v-if="__fTodayIsChecked(event.content.timeline[__fGetSortIdByDate(__fGetDate(),event)])">
									<!--如果当日已经全部验收完则显示提交播报模块-->
									<div v-if="!event.content.timeline[__fGetSortIdByDate(__fGetDate(),event)].today_broadcast.submit">
										<!--如果当日播报已上传则显示播报预览模块-->
										<div class="mui-content-padded" style="margin: 5px 10px;">
											今日验收已全部完成，请提交今日播报
											<div class="mui-input-row" style="margin: 10px 0;">
												<textarea id="textarea" rows="5" placeholder="请输入描述内容" v-model="event.content.timeline[__fGetSortIdByDate(__fGetDate(),event)].today_broadcast.text">{{event.content.timeline[__fGetSortIdByDate(__fGetDate(),event)].today_broadcast.text}}</textarea>
												<h5>您还可以添加<span id="imgcount">{{10 - event.content.timeline[__fGetSortIdByDate(__fGetDate(),event)].today_broadcast.img.length }}</span>张图片</h5>
											</div>
											<div id="pictures">
												<div class="picture" v-for="images in event.content.timeline[__fGetSortIdByDate(__fGetDate(),event)].today_broadcast.img"><img class="adds" v-bind:src="images" v-bind:data-preview-src="images" data-preview-group='1' v-on:tap="__fEditPictures($event)" /></div>
											</div>
											<div id="add-picture" v-show="event.content.timeline[__fGetSortIdByDate(__fGetDate(),event)].today_broadcast.img.length < 10" v-on:tap="__fAddPic()">+</div>
										</div>
										<button class="mui-btn mui-btn-block mui-btn-green submit-button">提交播报</button>
									</div>

									<div class="mui-content-padded" style="margin: 5px 10px;" v-if="event.content.timeline[__fGetSortIdByDate(__fGetDate(),event)].today_broadcast.submit">
										<div class="block">
											今日验收已全部完成，播报已提交
											<span>{{event.content.timeline[__fGetSortIdByDate(__fGetDate(),event)].today_broadcast.text}}</span>
										</div>
										<div id="pictures">
											<div class="picture" v-for="images in event.content.timeline[__fGetSortIdByDate(__fGetDate(),event)].today_broadcast.img"><img v-bind:src="images" v-bind:data-preview-src="images" data-preview-group='1' v-on:tap="__fEditPictures($event)" /></div>
										</div>
									</div>
								</div>
								<div v-if="!__fTodayIsChecked(event.content.timeline[__fGetSortIdByDate(__fGetDate(),event)])">
									<!--如果当日的验收还未全部完成则显示验收模块-->
									<div class="block">
										<span>今日验收</span>
										<div v-for="checkitem in event.content.timeline[__fGetSortIdByDate(__fGetDate(),event)].check">
											<div>{{checkitem.name}}&nbsp;<span class="mui-pull-right"><span class="check-ok" v-if="checkitem.checked">验收完成√</span><span class="to-check" v-if="!checkitem.checked" v-on:tap="__fDetail(event.id,'tocheck')">验收</span></span>
											</div>
											<!--TODO 验收buttom-->
											<div>{{checkitem.description}}</div>
										</div>
									</div>
								</div>

							</div>
							<div v-if="!event.content.timeline[__fGetSortIdByDate(__fGetDate(),event)]" class="today-is-nothing-to-do">
								<!--如果没有今日信息，则显示没有信息模块-->
								<img src="../images/smile.png">
								<div>今天没有待办事项哦</div>
							</div>
						</div>
						<div class="mui-slider-item">
							<div style="width: 100%;text-align: center;font-size: 20px;padding-top: 20px;">整体时光轴</div>
							<div class="block" v-for="timelineevent in event.content.timeline"><span>{{timelineevent.date}}</span>&nbsp;
								<div v-for="processitem in timelineevent.process">{{processitem.process_name}}&nbsp;&nbsp;{{processitem.process_text}}
									<span class="more-info" v-on:tap="__fDetail(event.id,'todaydetail',{'date':timelineevent.date})">查看详情 ></span>
								</div>
							</div>
						</div>

					</div>

				</div>
			</template>

			<div id="picture" class="mui-popover mui-popover-action mui-popover-bottom">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="#" data="1">拍照</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#" data="2">从相册中选择</a>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="#picture" data="0"><b>取消</b></a>
					</li>
				</ul>
			</div>
		</article>
		<script src="../js/mui.js"></script>
		<script type="text/javascript" src="../js/storage.js" ></script>
		<script type="text/javascript" src="../js/data.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script type="text/javascript" src="../js/vue.js"></script>

		<script type="text/javascript">
			"use strick"
			mui.init({
				gestureConfig: {
					doubletap: false,
					longtap: false
				},
				swipeBack: false
			});
			var MAXIMAGECOUNT = 10;
			var vueContent;
			mui.plusReady(function() {
				window.addEventListener('refreshvue', function(event) {
					var aShow = event.detail.split(",");
					vueContent.refresh(aShow[0], aShow[1]);
				});
				window.addEventListener('delete', function(event) { //今日播报的删除图片
					var deleteitem = vueContent.event.content.timeline[fGetSortIdByDate(fGetDate(), vueContent.event)].today_broadcast.img[event.detail - 1];
					vueContent.event.content.today_broadcast.img.$remove(deleteitem);
				});
				vueContent = new Vue({
					el: "#event",
					data: {
						"event": fListAllFlowEvent(myStorage.getItem("thisflow"))[myStorage.getItem("thiseventsort")]
					},
					methods: {
						__fTodayIsChecked: function(a) {
							return fTodayIsChecked(a);
						},
						__fGetDate: function() {
							return fGetDate();
						},
						__fGetSortIdByDate: function(a, b) {
							return fGetSortIdByDate(a, b);
						},
						refresh: function(a, b) {
							var tempobj = JSON.parse(myStorage.getItem("data"));
							tempobj.event[fFindObjSortById(vueContent.event.id, tempobj.event)] = vueContent.event;
							myStorage.setItem("data", JSON.stringify(tempobj)); //在本地存储修改
							vueContent.event = fListAllFlowEvent(a)[b];
							myStorage.setItem("thisstatus", vueContent.event.status);
							fCloseSubOpenPage();
						},
						//判断时光轴事件是不是今天
						isToday: function(eventobj) {
							alert(eventobj.currentTarget.innerText)
						},
						//编辑用户信息
						__fEditUser: function(eventid) {
							thispage = plus.webview.currentWebview();
							document.getElementById("back-drop").style.display = "block";
							mui.openWindow({
								url: "../index_sub/edituser.html",
								id: "sub_edituser",
								styles: {
									top: "15%",
									bottom: 0,
									right: "6.8%",
									width: "48%",
									height: "244px"
								},
								extras: {
									eventid: eventid
								},
								show: {
									aniShow: "fade-in"
								},
								waiting: {
									autoShow: false,
								}
							});
						},
						__fAddPic: function() {
							document.activeElement.blur();
							mui("#picture").popover('toggle');
						},
						__fEditPictures: function(thisobj) { //编辑图片
							mui.openWindow({
								url: "../module/preview_image.html",
								id: "preview_image",
								styles: {
									top: 0,
									bottom: 0,
									right: 0,
									width: "100%",
									height: "100%"
								},
								extras: {
									images: thisobj.currentTarget.parentNode.parentNode.innerHTML,
									indexid: index(thisobj.currentTarget, thisobj.currentTarget.parentNode.parentNode.getElementsByTagName("img")),
									deletemode: fHasClass(thisobj.currentTarget, "adds") ? "true" : "false"
								},
								show: {
									aniShow: "fade-in"
								},
								waiting: {
									autoShow: false,
								}
							});
						},
						//详情页面
						__fDetail: function(eventid, type, option) {
							var extras = !option ? {
								type: type,
								eventid: eventid
							} : {
								type: type,
								eventid: eventid,
								option: option
							};
							mui.openWindow({
								url: "index_frame.html",
								id: "sub_detail",
								styles: {
									top: 60 + gTopbarHeight + 'px',
									bottom: 0,
									left: "38.4%",
									height: "100%",
									width: '61.6%',
									bounce: 'none',
									bounceBackground: '#ffffff'
								},
								extras: extras,
								show: {
									aniShow: "slide-in-right"
								},
								waiting: {
									autoShow: false,
								}
							});
						}
					}
				});
			});
			document.getElementById("back-drop").addEventListener("tap", function() {
				document.getElementById("back-drop").style.display = "none";
				plus.webview.close("sub_edituser");
			})
			mui('#picture').on('tap', '.mui-popover-action li>a', function() {
				switch(this.getAttribute("data")) {
					case "1": //拍照
						mui("#picture").popover('toggle');
						getImage("today_broadcast.img");
						break;
					case "2": //从相册选择
						mui("#picture").popover('toggle');
						galleryImg("today_broadcast.img");
						break;
					default:
						break;
				}
			});
			//分屏切换看整体时间轴
			document.getElementById("history-detail").addEventListener("tap", function() {
				var innerIcon = this.getElementsByClassName("mui-icon")[0];
				if(fHasClass(innerIcon, "mui-icon-arrowright")) {
					fRemoveClass(innerIcon, "mui-icon-arrowright");
					fAddClass(innerIcon, "mui-icon-arrowleft")
					var sliderApi = mui("#slider-contain").slider({
						scrollTime: 500
					});
					sliderApi.gotoItem(1);
					sliderApi.destroy();
				} else {
					fRemoveClass(innerIcon, "mui-icon-arrowleft");
					fAddClass(innerIcon, "mui-icon-arrowright")
					var sliderApi = mui("#slider-contain").slider({
						scrollTime: 500
					});
					sliderApi.gotoItem(0);
					sliderApi.destroy();
				}
			});

			/**
			 * 判断当天验收是否全部完成
			 * @param {Object} JSONobj 当天的json对象
			 */
			function fTodayIsChecked(JSONobj) {
				var checkitem = JSONobj.check;
				var checkednum = 0;
				if(checkitem.length == 0) return true;
				for(var j = 0; j < checkitem.length; j++) {
					if(checkitem[j].checked == true) ++checkednum;
				}
				if(checkitem.length == checkednum) {
					return true;
				} else {
					return false;
				}
			}
		</script>
	</body>

</html>