<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/content.css" />
		<!--标准mui.css-->
		<link rel="stylesheet" href="../css/mui.css">
		<!--App自定义的css-->
		<link rel="stylesheet" href="../css/index_content.css" />
	</head>
	<style>
		#mask {
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: #FFF;
			z-index: -1;
		}
	</style>

	<body>
		<div id="mask"></div>
		<div id="back-drop"></div>
		<article id="event">
			<!--待量房-->
			<template v-if="event.status==0">
				<div class="user-info block">
					<span class="user-name">{{event.name}}</span><span class="user-sex">{{event.sex?"女士":"先生"}}</span><span class="user-phone">{{event.phone}}</span><span class="user-info-edit"><i class="mui-icon mui-icon-compose" v-on:tap="__fEditUser(event.id)"></i>编辑</span><br /><span class="user-address">{{event.province}}{{event.city}}{{event.district}}{{event.address}}</span><br /><span>合同号：{{event.contractid}}</span>
				</div>
				<div class="block">
					<span>待量房</span><br/><span class="check-time">预约上门时间：<span><input type="datetime-local" id="select-time"  v-bind:value="event.content.ordertime" init-time="{{event.content.ordertime}}" onchange="fSelecetTimeChange(this)" onblur="fSaveTime(this)"></span>
					<span class="user-info-edit edit-time"><i class="mui-icon mui-icon-compose"></i>修改日期</span>
				</div>
				<div class="btns block"><span class="event-btn intro" v-on:tap="__fIntro(event.id)"><i class="mui-icon mui-icon-compose"></i>产品介绍</span><span class="event-btn gauge" v-on:tap="__fGauge(event.id)"><i class="mui-icon mui-icon-compose"></i>直接量房</span></div>

			</template>
			<!--待排期-->
			<template v-if="event.status==1">
				<div class="user-info block">
					<span class="user-name">{{event.name}}</span><span class="user-sex">{{event.sex?"女士":"先生"}}</span><span class="user-phone">{{event.phone}}</span><span class="user-info-edit" v-on:tap="__fEditUser(event.id)"><i class="mui-icon mui-icon-compose"></i>编辑</span><br /><span class="user-address">{{event.province}}{{event.city}}{{event.district}}{{event.address}}</span><br /><span>合同号：{{event.contractid}}</span>
				</div>
				<div class="block">
					<span>量房报价信息</span><br/>
					<span v-for="item in event.content.package"><span class="package-item">{{item.name}}：{{item.num}}{{item.unit}}</span></span><br />
					<span>总价:{{event.content.price}}元</span>
					<span class="more-info" v-on:tap="__fDetail(event.id,'gauge')">详情 ></span>
				</div>
				<div class="btns block"><span class="event-btn intro" v-on:tap="__fIntro(event.id)"><i class="mui-icon mui-icon-compose"></i>去排期</span></div>
			</template>

			<!--待签约-->
			<template v-if="event.status==2">
				<div class="user-info block">
					<span class="user-name">{{event.name}}</span><span class="user-sex">{{event.sex?"女士":"先生"}}</span><span class="user-phone">{{event.phone}}</span><span class="user-info-edit" v-on:tap="__fEditUser(event.id)"><i class="mui-icon mui-icon-compose"></i>编辑</span><br /><span class="user-address">{{event.province}}{{event.city}}{{event.district}}{{event.address}}</span><br /><span>合同号：{{event.contractid}}</span>
				</div>
				<div class="rendering block">
					<!--图片轴模块-->
					<span class="iteminner">
						<span class="img-contain">
					<span class="lineimg" >
						<span class="item" v-for="img_src in event.content.renderings" track-by="$index"><img class="rendering-images" v-bind:src="img_src|cache"   v-on:tap="previewimages($event,$index)" data-preview-src="" data-preview-group="1" /></span>
					</span>
					</span>
					</span>
					<!--end-->
				</div>
				<div class="block">
					<span>报价信息</span><br/>
					<span v-for="item in event.content.package"><span class="package-item">{{item.name}}：{{item.num}}{{item.unit}}</span></span><br />
					<span>总价:{{event.content.price}}元</span>
					<span class="more-info" v-on:tap="__fDetail(event.id,'gauge')">详情 ></span>
				</div>
				<div class="block">
					<span>选材信息</span><br/>
					<span>{{event.content.selection}}</span>
					<span class="more-info" v-on:tap="__fDetail(event.id,'selection')">详情 ></span>
				</div>
				<div class="block">
					<span>排期信息</span><br/>
					<span>{{event.content.schedule}}</span>
					<span class="more-info" v-on:tap="__fDetail(event.id,'schedule')">详情 ></span>
				</div>
			</template>

			<!--待支付-->
			<template v-if="event.status==3">
				<div class="user-info block">
					<span class="user-name">{{event.name}}</span><span class="user-sex">{{event.sex?"女士":"先生"}}</span><span class="user-phone">{{event.phone}}</span><span class="user-info-edit"><i class="mui-icon mui-icon-compose" v-on:tap="__fEditUser(event.id)"></i>编辑</span><br /><span class="user-address">{{event.province}}{{event.city}}{{event.district}}{{event.address}}</span><br /><span>合同号：{{event.contractid}}</span>
				</div>
				<div class="block">
					<span>已交定金</span><br/><span class="check-time">预约开工日期：{{event.content.expected_start_date}}</span>
					<br /><span class="check-time">据全款截止日期还剩：<span style="color:red">{{event.content.left_time_for_pay}}天</span></span>
				</div>

			</template>

			<!--待改期-->
			<template v-if="event.status==4">
				<div class="user-info block">
					<span class="user-name">{{event.name}}</span><span class="user-sex">{{event.sex?"女士":"先生"}}</span><span class="user-phone">{{event.phone}}</span><span class="user-info-edit"><i class="mui-icon mui-icon-compose" v-on:tap="__fEditUser(event.id)"></i>编辑</span><br /><span class="user-address">{{event.province}}{{event.city}}{{event.district}}{{event.address}}</span><br /><span>合同号：{{event.contractid}}</span>
				</div>
				<div class="block">
					<span class="check-time">原定开工日期：{{event.content.expected_start_date}}</span>
					<br /><span>交款日期：{{event.content.pay_date}}</span>
					<br /><span>请修改开工日期<input type="date" id="select-start-date" value="2016-01-01" onblur="fSubmitStartTime(this)"><span class="to-check" onclick="document.getElementById('select-start-date').focus()">修改</span></span>
				</div>
			</template>

			<!--待评价-->
			<template v-if="event.status==9">
				<button class="mui-btn mui-btn-block mui-btn-green remind-user-evaluate">提醒用户评价</button>
			</template>
		</article>

	</body>
	<script src="../js/mui.js"></script>
	<script type="text/javascript" src="../js/storage.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/data.js"></script>
	<script type="text/javascript" src="../js/cache.js"></script>
	<script src="../js/vue.js"></script>
	<script>
		"use strick";

		mui.init({
			gestureConfig: {
				doubletap: false,
				longtap: false
			},
			swipeBack: false
		});
		var vueContent;
		function plusReady() {}
		if(window.plus) {
			plusReady();
		} else {
			document.addEventListener("plusready", plusReady, false);
		}
		var index_content = null;
		var thisevent = fListAllFlowEvent(1)[0]; //从myStorage里获取信息
		var MAXIMAGECOUNT = 10;
		mui.plusReady(function() {

			//			var url =  'type=tran&appid=' + encodeURIComponent(plus.runtime.appid);
			//			url += ('&cid=' + encodeURIComponent(plus.push.getClientInfo().clientid));
			//			if(plus.os.name == 'iOS') {
			//				url += ('&token=' + encodeURIComponent(plus.push.getClientInfo().token));
			//			}
			//			url += ('&title=' + encodeURIComponent('Hello H5+'));
			//			url += ('&content=' + encodeURIComponent('带透传数据推送通知，可通过plus.push API获取数据并进行业务逻辑处理！'));
			//			url += ('&payload=' + encodeURIComponent('{title:"Hello H5+ Test",content:"test content",payload:{id:"1234567890"}}'));
			//			url += ('&version=' + encodeURIComponent(plus.runtime.version));
			//			console.log(url);
			window.addEventListener('refreshvue', function(event) {
				var aShow = event.detail.split(",");
				vueContent.refresh(aShow[0], aShow[1]);
			});
			window.addEventListener('nocontent', function(event) {
				document.getElementById("mask").style.zIndex = 9999;
			});
			window.addEventListener('sb', function(event) { //纯展示用
				document.getElementById("back-drop").style.display = "none";
			});

		});
		fAddVueCacheFilter()
		Vue.filter('statusNumtoString', function(value) {
			return fFindObjById(value, gStatus.status).name;
		});
		console.log(JSON.stringify(thisevent))
		vueContent = new Vue({
			el: '#event',
			data: {
				"event": thisevent
			},
			methods: {
				refresh: function(a, b) {
					document.getElementById("back-drop").style.display = "none";
					var nextevent = fListAllFlowEvent(a)[b];
					if(nextevent) { //判断内容为空的情况
						document.getElementById("mask").style.zIndex = -1;
						myStorage.setItem("thisstatus", nextevent.status);
						switch(nextevent.status) {
							case 5:
							case 6:
							case 7:
								mui.fire(plus.webview.getWebviewById("plg_input"), "refreshvue", a + "," + b);
								plus.webview.show("plg_input", "fade-in", 200);
								break;
							case 8:
								mui.fire(plus.webview.getWebviewById("plg_work"), "refreshvue", a + "," + b);
								plus.webview.show("plg_work", "fade-in", 200);
								break;
							default:
								fCloseSubPage();
								this.event = nextevent;
								break;
						}
					} else {
						document.getElementById("mask").style.zIndex = 9999;
						fCloseSubPage();
					}

				},
				//打开产品介绍
				__fIntro: function(eventid) {
					mui.openWindow({
						url: "../step/intro.html?eventid=" + eventid,
						id: "intro",
						styles: {
							top: 0,
							bottom: 0
						},
						show: {
							aniShow: false
						},
						waiting: {
							autoShow: false,
						}
					})
				},
				//打开量房页面
				__fGauge: function(eventid) {
					mui.openWindow({
						url: "../step/pick_products.html?eventid=" + eventid,
						id: "intro",
						styles: {
							top: 0,
							bottom: 0
						},
						extras: {
							eventid: eventid
						},
						show: {
							aniShow: "none"
						},
						waiting: {
							autoShow: false,
						}
					})
				},
				__fDetail: function(eventid, type, option) {
					var extras = option ? {
						type: type,
						eventid: eventid
					} : {
						type: type,
						eventid: eventid,
						option: JSON.stringify(option)
					};
					mui.openWindow({
						url: "index_frame.html",
						id: "sub_detail",
						styles: {
							top: 60 + gTopbarHeight + 'px',
							bottom: 0,
							left: "38.4%",
							height: "100%",
							width: '61.6%',
							bounce: 'none',
							bounceBackground: '#ffffff',
						},
						extras: extras,
						show: {
							aniShow: "slide-in-right"
						},
						waiting: {
							autoShow: false,
						}
					});
				},
				//编辑用户信息
				__fEditUser: function(eventid) {
					thispage = plus.webview.currentWebview();
					document.getElementById("back-drop").style.display = "block";
					mui.openWindow({
						url: "edituser.html",
						id: "sub_edituser",
						styles: {
							top: "15%",
							bottom: 0,
							right: "6.8%",
							width: "48%",
							height: "244px",
						},
						extras: {
							eventid: eventid
						},
						show: {
							aniShow: "fade-in"
						},
						waiting: {
							autoShow: false,
						}
					});
				},
				//点击图片放大预览
				previewimages: function(thisevent, indexId) {
					var arrObjects = thisevent.target.parentNode.parentNode.innerHTML;
					mui.openWindow({
						url: "../module/preview_image.html",
						id: "preview_image",
						styles: {
							top: 0,
							bottom: 0,
							right: 0,
							width: "100%",
							height: "100%",
						},
						extras: {
							images: arrObjects,
							indexid: indexId
						},
						show: {
							aniShow: "fade-in"
						},
						waiting: {
							autoShow: false,
						}
					});
				}
			},
			ready: function() {
				plus.navigator.closeSplashscreen();
			}
		});
		document.getElementById("back-drop").addEventListener("tap", function() {
			document.getElementById("back-drop").style.display = "none";
			plus.webview.close("sub_edituser");
		});

		mui("#event").on("tap", ".edit-time", function() {
			document.getElementById("select-time").focus();
		});

		function fSelecetTimeChange(e) {
			var inittime = e.getAttribute("init-time");
			if(!e.value)(e.value = inittime, e.blur()); //点击"清除"重新设定时间并关闭时间设定
		}

		function fSaveTime(e) {
			if(e.value == "") e.value = e.getAttribute("init-time"); //防止出现时间为空的情况
			if(e.getAttribute("init-time") != e.value) { //当时间有修改时才进行本地修改与上传操作
				var olddate = (e.getAttribute("init-time").split("T")[0] + ' ' + e.getAttribute("init-time").split("T")[1]).split(":33")[0];
				var newdate = (e.value.split("T")[0] + ' ' + e.value.split("T")[1]).split(":33")[0];
				mui.confirm('是否将预约上门时间从' + olddate + '修改为' + newdate + '？', gAppName, ['否', '是'], function(f) {
					if(f.index == 1) {
						//						var tempobj = JSON.parse(myStorage.getItem("data"));
						//						tempobj.event[fFindObjSortById(thisevent.id, tempobj.event)].content.ordertime = e.value;
						//						vueContent.event.content.ordertime = e.value;
						//						myStorage.setItem("data", JSON.stringify(tempobj)); //在本地存储修改时间
						//TODO：放入同步队列
						mui.ajax(gAPIServer + 'houses/' + vueContent.event.id + '?access-token=' + User("access_token"), {
							data: {
								"appointment_at": fDateToTimeStamp(e.value)
							},
							dataType: 'json',
							type: 'PUT',
							timeout: 6000,
							success: function(data) {
								if(data.success == true) {
									mui.toast("预约时间修改成功")
									var tempobj = JSON.parse(myStorage.getItem("data"));
									tempobj.event[fFindObjSortById(thisevent.id, tempobj.event)].content.ordertime = e.value;
									vueContent.event.content.ordertime = e.value;
									myStorage.setItem("data", JSON.stringify(tempobj)); //初版在远程修改时间成功后再在本地存储修改时间
								} else {
									mui.alert(data.message, gAppName);
									console.log(JSON.stringify(data));
									e.value = e.getAttribute("init-time");
								}
							},
							error: function(xhr, textStatus, errorThrown) {
								console.log(JSON.stringify(xhr))
								mui.alert("修改时间失败，请稍候再试", gAppName);
								e.value = e.getAttribute("init-time");
							}
						});

					} else {
						e.value = e.getAttribute("init-time");
					}
				});

			}
		}

		function fSubmitStartTime(e) {
			if(e.value == "" || e.value == "2016-01-01") {
				e.value = "2016-01-01";
				return false;
			}
			var newdate = e.value;
			mui.confirm('是否将开工日期修改为' + newdate + '？', gAppName, ['否', '是'], function(f) {
				if(f.index == 1) {
					alert("此时运行修改开工日期函数")
						//TODO
				} else {
					e.value = "2016-01-01";
				}
			});
		}
	</script>

</html>