<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/index_content.css" />
	</head>
	<style>
		.content {
			position: relative;
			width: 100%;
			background-color: #fff;
			padding: 43px 20px;
		}
		
		.content .title {
			width: 100%;
			text-align: center;
			font-size: 18px;
		}
		
		.event {
			min-height: 50px;
		}
		
		.time {
			display: inline-block;
			height: 30px;
			width: 81px;
			border-radius: 3px;
			text-align: center;
			line-height: 30px;
			font-size: 14px;
			background-color: #06b26f;
			color: #fff;
		}
		
		.scheduleinfo {
			display: inline-block;
			vertical-align: top;
			margin-left: 40px;
			line-height: 30px;
		}
		
		.event-name {
			display: inline-block;
			margin-left: 40px;
			font-size: 18px;
			margin-top: -20px;
		}
		
		.event-detail {
			padding: 16px 72px 13px 15px;
			margin-left: 118px;
			border: 1px solid #eeebeb;
			background-color: #fcfcfc;
			font-size: 14px;
			color: #7f7d7d;
		}
		
		.name-row {
			display: inline-block;
			height: 30px;
			margin: 50px 0 0 0;
		}
		
		#mask {
			position: fixed;
			height: 100%;
			width: 100%;
			z-index: 9999999;
			background-color: #fff;
			opacity: 1;
			transition: 0.5s;
		}
		
		.hide {
			background-color: #fff;
		}
	</style>

	<body>
		<div id="history-detail"><span class="mui-icon mui-icon-arrowright"></span></div>
		<div id="back-drop"></div>
		<article id="event">
			<!--施工中-->
			<template v-if="event.status==10">
				<div class="user-info block">
					<span class="user-address">{{event.province}}{{event.city}}{{event.district}}{{event.street}}{{event.address}}</span>
					<span class="more-info" @tap="__fDetail(event.id,'userdetail')">详情 ></span>
				</div>
				<div id="slider-contain" class="mui-slider">
					<div class="mui-slider-group">

						<!--分为左右两部分-->
						<div class="mui-slider-item">
							<div v-if="__fGetEventsByDate(__fGetDate(),event.content.schedule)">
								<!--如果没有今日信息则隐藏今日模块-->
								<div class="block">
									<span><h3>今日详情</h3></span>
									<div v-for="processitem in __fGetEventsByDate(__fGetDate(),event.content.schedule)">{{ processitem.process.process_name }}&nbsp;&nbsp;{{processitem.process.process_content}}
									</div>
									<!--<span class="more-info" @tap="__fDetail(event.id,'todaydetail',processitem)">今日详情 ></span>-->
								</div>
								<div v-if="__fIsAllCheck(__fChecksInEvents(__fGetEventsByDate(__fGetDate(),event.content.schedule)))">
									<!--如果当日已经全部验收完则显示提交播报模块-->

									<div v-if="!__fDidTodayBroadcast()">
										<!--如果当日播报未上传，则判断是否是第一次上传播报，如果是第一次上传播报则正常上传，如果不是则判断昨天的播报是否上传完成-->
										<div class="mui-content-padded" style="margin: 5px 10px;">
											<span v-if="__ffIsFirstBroadcast()?true:__fDidYesterdayBroadcast()">今日验收已全部完成，请提交今日播报</span>
											<span v-if="__ffIsFirstBroadcast()?false:!__fDidYesterdayBroadcast()">您昨天没有提交播报，请提交昨天的今日播报再进行操作</span>
											<div class="mui-input-row" style="margin: 10px 0;">
												<textarea id="textarea" rows="5" placeholder="请输入描述内容" v-model="event.content.broadcast.text">{{event.content.broadcast.text}}</textarea>
												<h5>您还可以添加<span id="imgcount">{{10 - event.content.broadcast.img.length }}</span>张图片</h5>
											</div>
											<div id="pictures">
												<div class="picture" v-for="images in event.content.broadcast.img"><img class="adds" v-bind:src="images" v-bind:data-preview-src="images" data-preview-group='1' @tap="__fEditPictures($event)" /></div>
											</div>
											<div id="add-picture" v-show="event.content.broadcast.img.length < 10" @tap="__fAddPic()">+</div>
										</div>
										<button class="mui-btn mui-btn-block mui-btn-green submit-button" @tap="fSubmitBroadcast()">提交播报</button>
									</div>

									<div class="mui-content-padded" style="margin: 5px 10px;" v-if="__fDidTodayBroadcast()">
										<!--当日播报已上传-->
										<div class="block">
											今日验收已全部完成，播报已提交
											<span>{{event.content.broadcast.text}}</span>
										</div>
										<div id="pictures">
											<div class="picture" v-for="images in event.content.broadcast.img"><img v-bind:src="images" v-bind:data-preview-src="images" data-preview-group='1' @tap="__fEditPictures($event)" /></div>
										</div>
									</div>
								</div>

								<div v-if="!__fIsAllCheck(__fChecksInEvents(__fGetEventsByDate(__fGetDate(),event.content.schedule)))">
									<!--如果当日的验收还未全部完成则显示验收模块-->
									<div class="block">
										<span>今日验收</span>
										<div v-for="checkitem in __fChecksInEvents(__fGetEventsByDate(__fGetDate(),event.content.schedule))">
											<div>{{checkitem.check.check_name}}&nbsp;{{checkitem.description}}<span class="mui-pull-right"><span class="check-ok" v-if="checkitem.checked">验收完成√</span><span class="to-check" v-if="!checkitem.checked" @tap="__fDetail(event.id,'tocheck',checkitem)">验收</span></span>
											</div>
											<!--TODO 验收buttom-->
											<div>{{checkitem.check.checkStandards.description}}</div>
										</div>
									</div>
								</div>

							</div>
							<div v-if="!__fGetEventsByDate(__fGetDate(),event.content.schedule)" class="today-is-nothing-to-do">
								<!--如果没有今日信息，则显示没有信息模块-->
								<img src="../images/smile.png">
								<div>今天没有待办事项哦</div>
							</div>
						</div>
						<div class="mui-slider-item">
							<div style="width: 100%;text-align: center;font-size: 20px;padding-top: 20px;">整体时光轴</div>
							<div class="content">
								<div id="timeline">
									<span class="scheduleinfo">每周{{event.content.is_holiday_work?7:5}}天，{{event.content.time_period}}
										<br />总计{{event.content.duration}}天
									</span>
									<div v-for="event in event.content.schedule" class="event">
										<span class="name-row">
									<span class="time" v-bind:class="{'hide':!fIsFirstDate($index)}">{{__fTimeStampToDate(event.schedule_at)}}</span>
										<span class="event-name">
										<!--当前事件为单品-->
										<span v-if="event.sku_id">{{event.sku.productBrand.product.name}}</span>
										<!--当前事件为工序-->
										<span v-if="event.process_id">{{event.process.process_name}}</span>
										<!--当前事件为验收-->
										<span v-if="event.check_id">{{event.check.check_name}}</span>
										</span>
										</span>
										<div class="event-detail" v-if="!event.sku_id">
											<span v-if="event.process_id">{{event.process.process_content}}</span>
											<span v-if="event.check_id">
												<span v-for="check in event.check.checkStandards">{{check.description}}</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</template>

			<div id="picture" class="mui-popover mui-popover-action mui-popover-bottom">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="#" data="1">拍照</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#" data="2">从相册中选择</a>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="#picture" data="0"><b>取消</b></a>
					</li>
				</ul>
			</div>
		</article>
		<script type="text/javascript" src="../js/lsvih.js"></script>
		<script src="../js/lib/mui.js"></script>
		<script type="text/javascript" src="../js/storage.js"></script>
		<script type="text/javascript" src="../js/data.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script type="text/javascript" src="../js/lib/vue.js"></script>

		<script type="text/javascript">
			"use strict";
			mui.init({
				gestureConfig: {
					doubletap: false,
					longtap: false
				},
				swipeBack: false
			});
			var tocastDate;
			var MAXIMAGECOUNT = 10;
			var vueContent;
			mui.plusReady(function() {
				window.addEventListener('refreshvue', function(event) {
					var aShow = event.detail.split(",");
					vueContent.refresh(aShow[0], aShow[1]);
				});
				window.addEventListener('checked', function(event) {
					var aShow = event.detail.split(",");
					vueContent.checked(aShow[0], aShow[1]);
				});
				window.addEventListener('delete', function(event) { //今日播报的删除图片
					var deleteitem = vueContent.event.content.broadcast.img[event.detail - 1];
					vueContent.event.content.broadcast.img.$remove(deleteitem);
				});
				vueContent = new Vue({
					el: "#event",
					data: {
						"event": fListAllFlowEvent(myStorage.getItem("thisflow"))[myStorage.getItem("thiseventsort")]
					},
					methods: {
						fSubmitBroadcast: function() {
							tocastDate = fIsFirstBroadcast() ? lsvih.time.day() : (fDidYesterdayBroadcast() ? lsvih.time.day() : lsvih.time.day(-1));
							if(vueContent.event.content.broadcast.img.length && vueContent.event.content.broadcast.text) {
								ImagesToBase64(vueContent.event.content.broadcast.img, fSubmitBroadcast);
							} else {
								mui.toast("请按照规定上传图片与文字信息。")
							}
						},
						__fDidYesterdayBroadcast: function() {
							return fDidYesterdayBroadcast();
						},
						__ffIsFirstBroadcast: function() {
							return fIsFirstBroadcast();
						},
						__fDidTodayBroadcast: function() {
							return fDidTodayBroadcast()
						},
						__fChecksInEvents: function(events) {
							return fChecksInEvents(events);
						},
						__fIsAllCheck: function(event) {
							return fTodayIsChecked(event);
						},
						__fGetDate: function(date) {
							return lsvih.time.day(date);
						},
						__fGetEventsByDate: function(a, b) {
							return fGetEventsByDate(lsvih.time.strToStamp(a), b);
						},
						refresh: function(a, b) {
							if(vueContent.event !== undefined && vueContent.event !== null) {
								var tempobj = JSON.parse(myStorage.getItem("data"));
								tempobj.event[lsvih.array.getSubByKey({
									"id": vueContent.event.id
								}, tempobj.event)] = vueContent.event;
								myStorage.setItem("data", JSON.stringify(tempobj)); //在本地存储修改
							}
							vueContent.event = fListAllFlowEvent(a)[b];
							fCloseSubOpenPage();
						},
						checked: function(a, b) {
							vueContent.event = fListAllFlowEvent(a)[b];
							fCloseSubOpenPage();
						},
						//编辑用户信息
						__fEditUser: function(eventid) {
							thispage = plus.webview.currentWebview();
							document.getElementById("back-drop").style.display = "block";
							mui.openWindow({
								url: "../index_sub/edituser.html",
								id: "sub_edituser",
								styles: {
									top: "15%",
									bottom: 0,
									right: "6.8%",
									width: "48%",
									height: "244px"
								},
								extras: {
									eventid: eventid
								},
								show: {
									aniShow: "fade-in"
								},
								waiting: {
									autoShow: false,
								}
							});
						},
						__fAddPic: function() {
							document.activeElement.blur();
							mui("#picture").popover('toggle');
						},
						__fEditPictures: function(thisobj) { //编辑图片
							mui.openWindow({
								url: "../module/preview_image.html",
								id: "preview_image",
								styles: {
									top: 0,
									bottom: 0,
									right: 0,
									width: "100%",
									height: "100%"
								},
								extras: {
									images: thisobj.currentTarget.parentNode.parentNode.innerHTML,
									indexid: index(thisobj.currentTarget, thisobj.currentTarget.parentNode.parentNode.getElementsByTagName("img")),
									deletemode: lsvih.dom.hasClass(thisobj.currentTarget, "adds")
								},
								show: {
									aniShow: "fade-in"
								},
								waiting: {
									autoShow: false,
								}
							});
						},
						//详情页面
						__fDetail: function(eventid, type, option) {
							var extras = !option ? {
								type: type,
								eventid: eventid
							} : {
								type: type,
								eventid: eventid,
								option: option
							};
							mui.openWindow({
								url: "index_frame.html",
								id: "sub_detail",
								styles: {
									top: 60 + common.topBarHeight + 'px',
									bottom: 0,
									left: "38.7%",
									height: "100%",
									width: '61.6%',
									bounce: 'none',
									bounceBackground: '#ffffff'
								},
								extras: extras,
								show: {
									aniShow: "slide-in-right"
								},
								waiting: {
									autoShow: false,
								}
							});
						},
						__fTimeStampToDate: function(timestamp) {
							var datearr = lsvih.time.stampToStr(timestamp * 1000, "date").split("-");
							return datearr[1] + "月" + datearr[2] + "日";
						},
						fIsFirstDate: function(sort) { //如果不是第一次出现这个时间，即这个时间和上一个节点的时间一样，则不显示
							if(sort == 0) return true;
							//							console.log(this.__fTimeStampToDate(this.events.schedule[sort - 1].schedule_at) + "----" + this.__fTimeStampToDate(this.events.schedule[sort].schedule_at))
							if(this.__fTimeStampToDate(this.event.content.schedule[sort].schedule_at) == this.__fTimeStampToDate(this.event.content.schedule[sort - 1].schedule_at)) {
								return false;
							} else {
								return true;
							}
						}
					}
				});
			});
			document.getElementById("back-drop").addEventListener("tap", function() {
				document.getElementById("back-drop").style.display = "none";
				plus.webview.close("sub_edituser");
			})
			mui('#picture').on('tap', '.mui-popover-action li>a', function() {
				switch(this.getAttribute("data")) {
					case "1": //拍照
						mui("#picture").popover('toggle');
						getImage("broadcast.img");
						break;
					case "2": //从相册选择
						mui("#picture").popover('toggle');
						galleryImg("broadcast.img");
						break;
					default:
						break;
				}
			});
			//分屏切换看整体时间轴
			document.getElementById("history-detail").addEventListener("tap", function() {
				var innerIcon = this.getElementsByClassName("mui-icon")[0];
				if(lsvih.dom.hasClass(innerIcon, "mui-icon-arrowright")) {
					lsvih.dom.removeClass(innerIcon, "mui-icon-arrowright");
					lsvih.dom.addClass(innerIcon, "mui-icon-arrowleft")
					var sliderApi = mui("#slider-contain").slider({
						scrollTime: 500
					});
					sliderApi.gotoItem(1);
					sliderApi.destroy();
				} else {
					scrollTo(0, 0);
					lsvih.dom.removeClass(innerIcon, "mui-icon-arrowleft");
					lsvih.dom.addClass(innerIcon, "mui-icon-arrowright");

					var sliderApi = mui("#slider-contain").slider({
						scrollTime: 500
					});
					sliderApi.gotoItem(0);
					sliderApi.destroy();
				}
			});

			/**
			 * 从当天事件中选出验收项
			 * @param {Array} events
			 */
			function fChecksInEvents(events) {
				var checked = [];
				for(var a = 0; a < events.length; a++) {
					if(events[a].check != null) checked.push(events[a]);
				}
				return checked;
			}

			/**
			 * 判断当天验收是否全部完成
			 * @param {Array} event 当天的json对象
			 */
			function fTodayIsChecked(events) {
				for(var s = 0; s < events.length; s++) {
					if(events[s].checked == undefined) return false;
				}
				return true;
			}
			/**
			 * 判断当前是否是第一次每日播报。
			 * 如果为第一次每日播报则不需要再判断昨天是否播报了
			 */
			function fIsFirstBroadcast() {
				return vueContent.event.content.broadcast.date == "";
			}
			/**
			 * 判断当天是否已经进行播报
			 */
			function fDidTodayBroadcast() {
				var today = lsvih.time.day();
				return(vueContent.event.content.broadcast.date == today);
			}

			/**
			 * 若当日未进行播报，判断昨天是否播报
			 */
			function fDidYesterdayBroadcast() {
				var yesterday = lsvih.time.day(-1);
				return(vueContent.event.content.broadcast.date == yesterday);
			}

			var uploading;
			/**
			 * 将指定日期的每日播报上传
			 * @param {Array} 图片数组
			 */
			function fSubmitBroadcast(imgArr) {
				uploading = plus.nativeUI.showWaiting("正在上传每日播报数据...");
				common.ajax('broadcasts/', {
					"house_group_id": vueContent.event.content.house_group_id,
					"content": vueContent.event.content.broadcast.text,
					"broadcast_imges": JSON.stringify(imgArr),
					"casted_at": lsvih.time.strToStamp(tocastDate)
				}, "POST", function() {
					vueContent.event.content.broadcast.date = tocastDate;
					var tempobj = JSON.parse(myStorage.getItem("data"));
					tempobj.event[lsvih.array.getSubByKey({
						"id": vueContent.event.id
					}, tempobj.event)] = vueContent.event;
					myStorage.setItem("data", JSON.stringify(tempobj));
					var listSortId = lsvih.array.getSubByKey({
						"id": vueContent.event.id
					}, fListAllFlowEvent(4));
					vueContent.checked(4,listSortId);
					uploading.close();
				}, "", {
					closeObj: uploading
				});
			}
		</script>
	</body>

</html>