<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/index_content.css" />
	</head>

	<body>
		<div id="back-drop"></div>
		<article id="event">
			<!--确认物业-->
			<template v-if="event.status==7">
				<div class="user-info block">
					<span class="user-name">{{event.name}}</span><span class="user-sex">{{event.sex?"女士":"先生"}}</span><span class="user-phone">{{event.phone}}</span>
					<span class="user-info-edit"><i class="mui-icon mui-icon-compose" @tap="__fEditUser(event.id)"></i>编辑</span><br />
					<span class="user-address">{{event.province}}{{event.city}}{{event.district}}{{event.street}}{{event.address}}</span><br />
					<span>合同号：{{event.content.group_contract.split(".pdf")[0]}}</span>
				</div>
				<div class="block">
					<span>物业交割信息</span>
				</div>
				<div class="mui-content-padded" style="margin: 5px 10px;">
					<div class="mui-input-row" style="margin: 10px 0;">
						<h5>您还可以添加<span id="imgcount">{{10 - event.content.property.img.length }}</span>张图片</h5>
					</div>
					<div id="pictures">
						<div class="picture" v-for="images in event.content.property.img"><img v-bind:src="images" class="adds" data-preview-src data-preview-group='1' @tap="__fEditPictures($event)" /></div>
					</div>
					<div id="add-picture" v-show="event.content.property.img.length < 10" @tap="__fAddPic()">+</div>
				</div>
				<button class="mui-btn mui-btn-block mui-btn-green submit-button submit-property">提交</button>
			</template>

			<!--待确认-->
			<template v-if="event.status==8">
				<div class="user-info block">
					<span class="user-name">{{event.name}}</span><span class="user-sex">{{event.sex?"女士":"先生"}}</span><span class="user-phone">{{event.phone}}</span>
					<span class="user-info-edit" @tap="__fEditUser(event.id)"><i class="mui-icon mui-icon-compose"></i>编辑</span><br />
					<span class="user-address">{{event.province}}{{event.city}}{{event.district}}{{event.street}}{{event.address}}</span><br />
					<span>合同号：{{event.content.group_contract.split(".pdf")[0]}}</span>
				</div>

				<div class="block">
					<span>报价信息</span><br/>
					<span v-for="item in event.content.package"><span class="package-item">{{item.name}}：{{item.size}}米</span><br /></span>
					<span>总价:{{event.content.price}}元</span>
					<span class="user-info-edit"><span class="mui-icon mui-icon-arrowright"></span></span>
					<div class="click-area user-info-edit" @tap="__fDetail(event.id,'gauge')"></div>
						<div v-show="event.content.check.gauge" class="status-checked">已确认√</div>
					<div v-show="!event.content.check.gauge" class="status-pal">
						<!--<span class="status-modify">修改</span>-->
						<span class="status-check" @tap="__fCheck('gauge')">确认</span></div>
				</div>
				<div class="block">
					<span>选材信息</span>
					<span class="user-info-edit center"><span class="mui-icon mui-icon-arrowright"></span></span>
					<div class="click-area user-info-edit" @tap="__fDetail(event.id,'selection')"></div>
					<div v-show="event.content.check.selection" class="status-checked">已确认√</div>
					<div v-show="!event.content.check.selection" class="status-pal">
						<!--<span class="status-modify">修改</span>-->
						<span class="status-check" @tap="__fCheck('selection')">确认</span></div>
				</div>
				<div class="block">
					<span>排期信息</span>
					<span class="user-info-edit center"><span class="mui-icon mui-icon-arrowright"></span></span>
					<div class="click-area user-info-edit" @tap="__fDetail(event.id,'schedule')"></div>
					<div v-show="event.content.check.schedule" class="status-checked">已确认√</div>
					<div v-show="!event.content.check.schedule" class="status-pal">
						<!--<span class="status-modify">修改</span>-->
						<span class="status-check" @tap="__fCheck('schedule')">确认</span></div>
				</div>

				
			</template>

			<!--待开工-->
			<template v-if="event.status==9">
				<div class="user-info block">
					<span class="user-name">{{event.name}}</span><span class="user-sex">{{event.sex?"女士":"先生"}}</span><span class="user-phone">{{event.phone}}</span>
					<span class="user-info-edit"><i class="mui-icon mui-icon-compose" @tap="__fEditUser(event.id)"></i>编辑</span><br />
					<span class="user-address">{{event.province}}{{event.city}}{{event.district}}{{event.street}}{{event.address}}</span><br />
					<span>合同号：{{event.content.group_contract.split(".pdf")[0]}}</span>
				</div>
				<div class="block">
					<span class="check-time">预计开工时间：<span><input type="date" id="select-time"  v-bind:value="event.content.expected_start_date" init-time="{{event.content.expected_start_date}}" onchange="fSelecetTimeChange(this)" onblur="fSaveTime(this)"></span></span><span class="user-info-edit edit-time"><i class="mui-icon mui-icon-compose"></i>修改日期</span>
				</div>
				<div class="mui-content-padded" style="margin: 5px 10px;">
					<div class="mui-input-row" style="margin: 10px 0;">
						<textarea id="textarea" rows="5" placeholder="请输入描述内容" v-model="event.content.pending_construction.text">{{event.content.pending_construction.text}}</textarea>
						<h5>您还可以添加<span id="imgcount">{{10 - event.content.pending_construction.img.length }}</span>张图片</h5>
					</div>
					<div id="pictures">
						<div class="picture" v-for="images in event.content.pending_construction.img"><img v-bind:src="images" class="adds" data-preview-src data-preview-group='1' @tap="__fEditPictures($event)" /></div>
					</div>
					<div id="add-picture" v-show="event.content.pending_construction.img.length < 10" @tap="__fAddPic()">+</div>
				</div>
				<button class="mui-btn mui-btn-block mui-btn-green submit-button" @tap="__start()">确认开工</button>
			</template>

			<div id="picture" class="mui-popover mui-popover-action mui-popover-bottom">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="#" data="1">拍照</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#" data="2">从相册中选择</a>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="#picture" data="0"><b>取消</b></a>
					</li>
				</ul>
			</div>
		</article>
	</body>
	<script type="text/javascript" src="../js/lsvih.js"></script>
	<script src="../js/lib/mui.js"></script>
	<script type="text/javascript" src="../js/storage.js"></script>
	<script type="text/javascript" src="../js/data.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/lib/vue.js"></script>
	<script type="text/javascript" src="../js/module/index_content3.js"></script>

</html>