a {
	color: #000;
}

a:active {
	color: #FF9800;
}

.mui-active {
	color: #fff!important;
}

.mui-bar .mui-icon:active {
	opacity: 1;
}

.mui-progressbar-success:before {
	background: #4cd964!important;
	z-index: 99999;
}